@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Lato', sans-serif;
  margin: 0px;
  padding: 0px;
}

.active {
  @apply border-b-2 border-[#007E85]
}

.banner-bg {
  height: 70%;
  width: 100%;
  background: linear-gradient(to bottom, #007E85, #6EAB36);
  border: 2px solid #202229;
  border-radius: 48% 52% 49% 51% / 74% 64% 36% 26%;
}

.primary-button {
  @apply bg-[#007E85] px-6 py-2 rounded-md font-semibold text-white
}

.rounded-button {
  @apply px-6 py-3 rounded-3xl font-semibold
}